# no list in json

In [1]:
import json

In [2]:
f = open('./output_man_ori.json','r')
info = json.load(f)

In [3]:
len(info)

372

In [11]:
for i in range(len(info)):
    info[i]['age'] = info[i]['age'][0]
    info[i]['height'] = info[i]['height'][0]
    info[i]['weight'] = info[i]['weight'][0]
    info[i]['pansize'] = info[i]['pansize'][0]
    info[i]['shirtsize'] = info[i]['shirtsize'][0]

In [12]:
f = open('./output_women_del_list.json','w')
f.write(json.dumps(info,indent=2))

3559255

# merge two json

In [ ]:
import json

In [19]:
f = open('./output_women_del_list.json','r')
info = json.load(f)

In [20]:
f = open('./output_women_ori.json','r')
info2 = json.load(f)

In [21]:
len(info)

15699

In [22]:
len(info2)

438

In [23]:
new_info = []
new_ids = []
for i in info:
    if i['im_id'] not in new_ids:
        new_ids.append(i['im_id'])
        new_info.append(i)
for i in info2:
    if i['im_id'] not in new_ids:
        new_ids.append(i['im_id'])
        new_info.append(i)

In [24]:
len(new_info)

15707

In [25]:
f = open('./output_women_new.json','w')
f.write(json.dumps(new_info,indent=2))

3561040

# ft to cm & lbs to kg

In [28]:
import json
f = open('./output_man_ori.json','r')
info = json.load(f)

In [29]:
ft_to_in = 12  #英尺 to 英寸
in_to_cm = 2.54 #英寸 to cm
lbs_to_kg = 0.4532 #英镑 to kg
for i in range(len(info)):
    height = info[i]['height']
    weight = info[i]['weight']
    info[i]['height'] = str(round((int(height[0]) * 12 + int(height[2])) * 2.54,2))
    info[i]['weight'] = str(round((int(weight) * lbs_to_kg),2))

In [30]:
f = open('./output_man_cm_kg.json','w')
f.write(json.dumps(info,indent=2))

79116

# ft to in

In [38]:
import json
f = open('./output_women_ori.json','r')
info = json.load(f)

In [39]:
ft_to_in = 12  #英尺 to 英寸
in_to_cm = 2.54 #英寸 to cm
lbs_to_kg = 0.4532 #英镑 to kg
for i in range(len(info)):
    height = info[i]['height']
    info[i]['height'] = str((int(height[0]) * 12 + int(height[2])))

In [40]:
f = open('./output_women_in_lbs.json','w')
f.write(json.dumps(info,indent=2))

3512616

# Add BMI use cm & kg

In [72]:
import json
f = open('./output_women_cm_kg.json','r')
cm_kg_info = json.load(f)

In [73]:
new_cm_kg_info = []
for i in cm_kg_info:
    height_cm = float(i['height'])
    weight = float(i['weight'])
    height_m = round(height_cm/100,4)
    #print(height_cm,height_m,weight)
    bmi = str(round((weight/((height_m)**2)),2))
    i['bmi'] = bmi
    new_cm_kg_info.append(i)

In [74]:
new_cm_kg_info[3]

{'im_id': '23000-23455-1.jpg',
 'im_url': 'https://www.mybodygallery.com/uploadedPhotos/23000/23455-1.jpg',
 'age': 'N/A',
 'height': '165.1',
 'weight': '81.58',
 'pansize': '14',
 'shirtsize': 'XL',
 'bmi': '29.93'}

In [75]:
f = open('./output_women_cm_kg_bmi.json','w')
f.write(json.dumps(new_cm_kg_info,indent=2))

3918474

# Add BMI use in & lbs

In [76]:
import json
f = open('./output_women_in_lbs.json','r')
in_lbs_info = json.load(f)

In [77]:
new_in_lbs_info = []
for i in in_lbs_info:
    height = float(i['height'])
    weight = float(i['weight'])
    #print(height_cm,height_m,weight)
    bmi = str(round((weight/((height)**2)*703),2))
    i['bmi'] = bmi
    new_in_lbs_info.append(i)

In [78]:
new_in_lbs_info[3]

{'im_id': '23000-23455-1.jpg',
 'im_url': 'https://www.mybodygallery.com/uploadedPhotos/23000/23455-1.jpg',
 'age': 'N/A',
 'height': '65',
 'weight': '180',
 'pansize': '14',
 'shirtsize': 'XL',
 'bmi': '29.95'}

In [79]:
f = open('./output_women_in_lbs_bmi.json','w')
f.write(json.dumps(new_in_lbs_info,indent=2))

3825799

# classify by bmi

0 偏瘦	<= 18.4  
1 正常	18.5 ~ 23.9   
2 过重	24.0 ~ 27.9  
3 肥胖	>= 28.0

In [1]:
import json

In [2]:
f = open('./output/output_men_cm_kg_bmi.json','r')
info = json.load(f)

In [3]:
new_info = {}
for i in info:
    new_i = {'bmi':i['bmi']}
    if float(i['bmi']) <= 18.4:
        new_i['label'] = 0
    elif float(i['bmi']) <= 23.9:
        new_i['label'] = 1
    elif float(i['bmi']) <= 27.9:
        new_i['label'] = 2
    else:
        new_i['label'] = 3
    new_info[i['im_id']] = new_i

In [4]:
f = open('./output/men_label_four_class.json','w')
f.write(json.dumps(new_info,indent=2))

24168

# where have image

In [2]:
import json
f = open('./output/output_women_ori.json')
info = json.load(f)

In [3]:
json_names = []
for i in info:
    if i['im_id'] not in json_names:
        json_names.append(i['im_id'])

In [4]:
import os
names = os.listdir('./output/image_women/')

In [5]:
for name in json_names:
    if name not in names:
        print(name)

30000-30803-1.png
38000-38163-3.jpg
39000-39757-1.png
39000-39842-5.png
39000-39943-1.png
40000-40035-1.png
40000-40382-1.png
40000-40490-1.png
40000-40538-1.png
40000-40545-1.png
40000-40654-1.png
40000-40897-1.png

In [6]:
for name in names:
    if name not in json_names:
        print(name)

In [8]:
print(len(names),len(json_names),len(info))

15695 15707 15707